<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robots - Available</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>


    <div class="heading">
      <h1>Available For Hire</h1>
    </div>
    <main class="container">
      {{#results}}
      <div class="each-user">
        <div class="avatar-img">
          <img class="images" src="{{avatar}}" alt="avatar">
        </div>
        <div class="avatar-name">
          <h3>{{name}}</h3>
        </div>
        <div class="current-pos">
          <p>{{job}}{{^job}}{{/job}}</p>
          <p>{{company}}{{^company}}<p class="avail">Available for hire</p>{{/company}}</p>
        </div>
      </div>
      {{/results}}
    </main>

  </body>
</html>
