*{
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica';
}
.heading {
  margin: 0 auto;
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: flex-start;
  padding: 5px;
}
.each-user {
  background-color: rgb(255, 250, 242);
  border-radius: 4px;
  border: 1px solid black;
  padding: 10px;
  flex-basis: 15%;
  margin: 10px;
}
.images {
  width: 90%;
  height: 140px;
}
.avatar-name {
  text-align: center;
  color: #337BCD;
}
.current-pos {
  color: gray;
  font-size: 14px;
  text-align: center;
}
.avail {
  color: red;
}
.img-div {
  border: 1px solid gray;
  border-radius: 50%;
}
.sect-1 {
  display: flex;
  justify-content: center;
  margin-top: 90px;

}
.sect-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inline {
  display: flex;
  align-items: center;
}
.info {
  margin-left: 20px;
}

strong {
  margin-right: 10px;
}
.blue {
  color: #337BCD;
}
.move-left {
  margin-left: 5px;
}
